{% extends 'two_page_website/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <img src="{% static 'img/fon23.jpg' %}" class="fon_img" id="vent_img" />
            <div class="row">
            <div class="col-4"></div>
            <div class="col-7">
            <p class="text_about" id="vent-text" style="word-break: break-all; color: white; white-space: pre-wrap; padding: 1vw; font-size: 1.3rem">
                Проектирование вентиляции в Калуге - канальная и бесканальная вентиляция.

По конструктивному исполнению системы вентиляции делятся на 2 типа: канальные и бесканальные.

Системы вентиляции канального типа имеют сеть распределённых воздуховодов, позволяющие подводить свежий воздух или удалять загрязненный в разных частях одного помещения или в разных помещениях.

Системы вентиляции бесканального типа устанавливаются на крыше в виде крышного вентилятора непосредственно над вентилируемым помещением (например, в больших промышленных помещениях) или в дверных и оконных проемах. Бесканальная система вентиляции не имеет сеть воздуховодов, и потому для монтажа такой вентиляции не требуются большие временные затраты. Также, в отличие от канальной системы вентиляции, система бесканального типа проста в монтаже и эксплуатации.

Канальная вентиляция и бесканальная вентиляция может только с механическим побуждением.
            </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}
