{% extends 'two_page_website/base.html' %}
{% load static %}

{% block home %}
{#    <div class='wrapper-nav'>#}

{#        <div class="circle_w" id="w-link-1">#}
{#            <a class='w-link' href='{% url 'cond' %}' id="w_link1"> КОНДИЦИОНИРОВАНИЕ </a>#}
{#        </div>#}
{#        <div class="circle_w" id="w-link-3">#}
{#            <a class='w-link' href='{% url 'vent' %}' id="w_link3"> ВЕНТИЛЯЦИЯ </a>#}
{#        </div>#}
{#    </div>#}
{#    {% block content %}#}
{#    {% endblock %}#}

{% endblock %}
