body{
    margin: 0;
}
/*//////////// Creater ////////////////////////////*/
.creater{
    display: block;
    width: 100vw;
    position: absolute;
    top: 97vh;
    /*left: 65vw;*/
    color: darkorange;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: right;
    padding-right: 50px;
}
.creater:hover{
    text-decoration: none;
    color: chocolate;
}
/*/////////////// NAVBAR ////////////////////////*/
#navbar-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: black;
    border: 2px solid darkorange;
    z-index: 10;
}
#link-home{
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 42px;
    color: darkorange;
}
#link-home:hover{
    color: chocolate;
}
#addres{
    color: white;
    position: relative;
    top: 0px;
    left: 50px;
    font-size: 1.3vw;
}
#phone{
    position: relative;
    top: -20px;
    left: 50px;
    font-size: 1.5vw;
    color: darkorange;
}
.my-button{
    font-size: 20px;
    background-color: #7d3501;
    color: darkorange;
    border: 2px solid darkorange;
    border-radius: 22%;
}
.my-button:active{
    background-color: darkorange;
    color: #7d3501;
    border: solid #7d3501;
}
.my-button:hover{
    border: 3px solid;
}
#recall{
    position: relative;
    top: -135px;
    left: 695px;
}
.romb{
    display: block;
    text-decoration: none;
    font-size: 1.9rem;
    color: darkorange;
    background-color: black;
    position: relative;
    width: 210px;
    height: 76px;
    border-left: 2px solid darkorange;
    border-right: 2px solid darkorange;
    border-top: 0; border-bottom: 0;
    transform: skewX(-45deg);
}
.recal2{
    position: relative;
    top: 12px;
    left: 52px;
    width: 147px;
    transform: skewX(45deg);
}
.romb:hover{
    color: chocolate;
    text-decoration: none;
    /*font-size: 2.6rem;*/
    border-left: 4px solid chocolate;
    border-right: 4px solid chocolate;
}
.romb:active{
    color: #7d3501;
    background-color: darkorange;
}
#romb1{
    /*display: block;*/
    width: 282px;
    top: 0px;
    left: 150px;
}
#romb2{
    width: 430px;
    left: 200px;
}
#romb3{
    width: 238px;
    top: 0px;
    left: 170px;
}
.nav_pos_link{
    display: flex;
}
/*/////////////////// end nav //////////////*/

.background{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    color: darkorange;
    min-height: 100vh;
    min-width: 100vw;
}

/*//////////////////////////////////////////////*/
/*////////// Home //////////////*/

.custom-section {
    display: flex;
    position: relative;
    top: 6rem;
    width: 95%;
    margin: 2rem auto;
    height: 45rem;
    max-height: 95vh;
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

.block {
        position: absolute;
        top: 3rem;
        width: 60%;
        height: inherit;
        overflow: hidden;
    }
.block{}
.-left {
        left: 0rem;
        transform: skew(-15deg) translate(-15%);
    }
.block{}
.-right {
        right: 0rem;
        transform: skew(-15deg) translate(15%);
        border-left: 5px solid #FFFAFF;
    }
.block.-left .background1 {
        transform: skew(15deg) translateX(15%);
    }

.block.-right .background1 {
        transform: skew(15deg) translateX(-15%);
    }
.block .link {
        position: absolute;
        top: 50%;
        width: 60%;
        text-align: center;
        line-height: 2rem;
        text-decoration: none;
        color: #302015;
        padding: 0 1rem;
        text-transform: uppercase;
        background: rgba(255, 255, 255, .9);
        transition: all 180ms cubic-bezier(.5, 0, .5, 1);
        transform: skew(15deg) translateY(-50%);
        box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    }
.block.-left .link {
        right: 0;
        border-radius: .2rem 0 0 .2rem;
    }

.block.-right .link {
        left: 0;
        border-radius: 0 .2rem .2rem 0;
    }
.link:hover,
        :focus {
            background: rgba(0, 0, 0, .8);
            color: #FFFFFF;
            outline: none;
        }

.fon_img{
    position: relative;
    top: 80px;
    width: 100%;
    opacity: 0.2;
}
.text_about{
    position: fixed;
    top: 120px;
    height: 775px;
    overflow-y: auto;
}
